---
layout: default
---

{% include navigation.html %}

<div class="page-container">
  <article class="page">
    <header class="page__header">
      <h1 class="page__title">Code of Conduct</h1>
    </header>
    <section class="page__body">
      <p>
        Como contribuidores y mantenedores del proyecto GDG Toledo, prometemos respetar a todas las personas que contribuyan
        mediante su participación en nuestros meetups, enviando incidencias en nuestros repositorios, actualizando la
        documentación, enviando pull requests, proporcionando feedback en forma de comentarios, o en cualquier otra actividad
        relacionada con el grupo.
      </p>
      <p>
        La comunicación a través de cualquiera de los canales de GDG Toledo debe ser constructiva y nunca recurrir a ataques
        personales, trolling, acoso público o privado, insultos u otra conducta no profesional.
      </p>
      <p>
        Prometemos extender cortesía y respeto a cualquier persona involucrada en este proyecto sin importar género, identidad
        de género, orientación sexual, discapacidad, edad, raza, etnia, religión o experiencia previa. Esperamos que cualquier
        participante del proyecto obre del mismo modo.
      </p>
      <p>
        Si cualquier miembro de la comunidad viola este código de conducta, los mantenedores del proyecto pueden actuar, echando
        del grupo, eliminando incidencias de nuestros repositorios, comentarios o pull request, o bloqueando las cuentas si se
        considera adecuado.
      </p>
      <p>
        Si eres objeto o testigo de un comportamiento inaceptable, o tienes cualquier otra consideración, por favor háznoslo
        llegar.
      </p>
    </section>
  </article>
</div>

{% include footer.html %}