<footer class="footer">
    <div class="footer__social-networks">
        <a class="footer__social-network" href="https://www.meetup.com/es-ES/gdgtoledo_es">
            {% include meetup_icon.html %}
        </a>
        <a class="footer__social-network" href="https://launchpass.com/gdgtoledoes">
            {% include slack_icon.html %}
        </a>
        <a class="footer__social-network" href="https://twitter.com/GDGToledo_es">
            {% include twitter_icon.html %}
        </a>
        <a class="footer__social-network" href="https://github.com/gdgtoledo">
            {% include github_icon.html %}
        </a>
        <a class="footer__social-network" href="https://www.youtube.com/channel/UCD8PD5qN0G6JEgiHpVpK0aw">
            {% include youtube_icon.html %}
        </a>
        <a class="footer__social-network" href="mailto:swcraftsmenclm@gmail.com">
            {% include mail_icon.html %}
        </a>
    </div>
    <a class="footer__code-of-conduct" href="{{ 'code-of-conduct' | relative_url  }}">
        Código de conducta de {{ site.author }}
    </a>
</footer>