<section class="join-us">
  <header class="join-us__header">
    <h1>No nos mires únete</h1>
  </header>
  <div class="join-us__list">
    <section class="join-us__info">
      <a class="join-us__link" href="https://www.meetup.com/es-ES/gdgtoledo_es">
        Estamos en Meetup
      </a>
    </section>
    <section class="join-us__info">
      <a class="join-us__link" href="https://launchpass.com/gdgtoledoes">
        Estamos en Slack
      </a>
    </section>
    <section class="join-us__info">
      <a class="join-us__link" href="https://twitter.com/GDGToledo_es">
        Estamos en Twitter
      </a>
    </section>
    <section class="join-us__info">
      <a class="join-us__link" href="https://github.com/gdgtoledo">
        Estamos en Github
      </a>
    </section>
  </div>
</section>