<section class="meetups">

    <header class="meetups__header">
        {% if include.limit %}
            <h1>Últimos meetups</h1>
        {% else %}
            <h1>Meetups</h1>
        {% endif %}
    </header>

    <div class="meetups__list">
        {% if include.limit %}
		    {% assign sorted_meetups = (site.meetups | sort: 'date') | reverse %}
            {% for meetup in sorted_meetups limit:4 %}
                <article class="meetup meetup__short">
                    <section class="meetup__info">
                        <a class="meetup__title" href="{{ "/" | relative_url  }}{{ meetup.url | remove_first: '/' }}" >
                            {{ meetup.title }}
                        </a>
                        <aside class="meetup__details">
                            <span class="meetup__date">
                                {{ meetup.date | date:"%b %d, %Y"}}
                            </span>
                            <span class="meetup__attendees">
                                {{ meetup.attendees }} asistentes
                            </span>
                        </aside>
                    </section>
                </article>
            {% endfor %}
        {% else %}
			{% assign sorted_meetups = (paginator.posts | sort: 'date') | reverse %}
            {% for meetup in sorted_meetups %}
                <article class="meetup">
                    <div class="meetup__head">
                        <section class="meetup__info">
                            <a class="meetup__title" href="{{ meetup.url | relative_url }}">{{ meetup.title | escape }}</a>
                            <aside class="meetup__details">
                                <span class="meetup__date">
                                    {{ meetup.date | date:"%b %d, %Y"}}
                                </span>
                                <span class="meetup__attendees">
                                    {{ meetup.attendees }} asistentes
                                </span>
                            </aside>
                        </section>
                    </div>
                    <section class="meetup__speaker">
                        <a class="meetup__speaker-name" href="{{ meetup.url }}" >
                            {{ meetup.speaker.name }}
                        </a>
                    </section>
                </article>
            {% endfor %}
            {% include paginator.html %}
        {% endif %}
    </div>

    {% if include.limit %}
        <footer class="meetups__footer">
            <a class="meetups__show-more" href="{{ "/meetups" | relative_url }}" >ver todos los meetups</a>
        </footer>
    {% endif %}

</section>

