<nav class="navigation">
    <ul class="navigation__items">
        {% for navigation_item in site.navigation %}
            <li class="navigation__item">
                <a {% if navigation_item.url == page.url %}class="navigation__link navigation__link--active"{% else %} class="navigation__link"{% endif %}
                href="{{ navigation_item.url | relative_url  }}">
                    {{ navigation_item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>