{% if paginator.total_pages > 1 %}
    <nav class="paginator">
        <ul class="paginator__list">
            {% if paginator.previous_page %}
                <li class="paginator__page">
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">«</a>
                </li>
            {% endif %}
            {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                    <li {% if page.url == trail.path %}class="paginator__page selected"{% else %}class="paginator__page"{% endif %}>
                        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if paginator.next_page %}
                <li class="paginator__page">
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">»</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}