<section class="posts">

    <header class="posts__header">
        {% if include.limit %}
            <h1>Últimos posts</h1>
        {% else %}
            <h1>Posts</h1>
        {% endif %}
    </header>

    <div class="posts__list">
        {% if include.limit %}
            {% for post in site.posts limit:10 %}
            <article class="post">
                <div class="post__info">
                    <a class="post__title" href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}" >
                        {{ post.title }}
                    </a>
                    <aside class="post__date">{{ post.date | date:"%b %d" }}</aside>
                </div>
                <div class="post__description">
                    {{ post.description }}
                </div>
            </article>
            {% endfor %}
        {% else %}
            {% for post in site.posts  %}
            <li>
                {{ post.title }}
                {% if paginator.previous_page or paginator.next_page %}
                    {% include pagination.html %}
                {% endif %}
            </li>
            {% endfor %}
        {% endif %}
    </div>

    {% if include.limit %}
    <footer class="posts__footer">
        <a class="posts__show-more" href="/meetups.html">ver todos los posts</a>
    </footer>
    {% endif %}

</section>