<section class="posts">

    <header class="posts__header">
        {% if include.limit %}
            <h1>Últimos posts</h1>
        {% else %}
            <h1>Posts</h1>
        {% endif %}
    </header>

    <div class="posts__list">
        {% if include.limit %}
            {% for post in site.posts limit:4 %}
                <article class="post">
                    <section class="post__info">
                        <a class="post__title" href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}" >
                            {{ post.title }}
                        </a>
                        <aside class="post__date">{{ post.date | date:"%b %d" }}</aside>
                    </section>
                </article>
            {% endfor %}
        {% else %}
            {% for post in paginator.posts %}
                <article class="post">
                    <section class="post__info">
                        <a class="post__title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        <aside class="post__date">{{ post.date | date:"%b %d" }}</aside>
                    </section>
                    <section class="post__description">
                        <a class="post__description" href="{{ post.url }}" >
                            {{ post.description }}
                        </a>
                    </section>
                </article>
            {% endfor %}
            {% include paginator.html %}
        {% endif %}
    </div>

    {% if include.limit %}
        <footer class="posts__footer">
            <a class="posts__show-more" href="/posts">ver todos los posts</a>
        </footer>
    {% endif %}

</section>