<section class="posts">

    <header class="posts__header">
        {% if include.limit %}
            <h1 class="posts__title">Últimos posts</h1>
        {% else %}
            <h1>Posts</h1>
        {% endif %}
    </header>

    <div class="posts__list">
        {% if include.limit %}
            {% for post in site.posts limit:4 %}
                <article class="post post_short">
                    <section class="post__info">
                        <a class="post__title" href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}" >
                            {{ post.title }}
                        </a>
                        <aside class="post__date">{{ post.date | date:"%b %d, %Y" }}</aside>
                    </section>
                </article>
            {% endfor %}
        {% else %}
            {% for post in paginator.posts %}
                <article class="post">
                    <div class="post__head">
                        <section class="post__info">
                            <a class="post__title" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                            <aside class="post__date">{{ post.date | date:"%b %d, %Y" }}</aside>
                        </section>
                    </div>
                    <section class="post__description">
                        <a class="post__link" href="{{ post.url }}" >
                            {{ post.description }}
                        </a>
                    </section>
                </article>
            {% endfor %}
            {% include paginator.html %}
        {% endif %}
    </div>

    {% if include.limit %}
        <footer class="posts__footer">
            <a class="posts__show-more" href="{{ "/posts" | relative_url }}" >ver todos los posts</a>
        </footer>
    {% endif %}

</section>