/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden { display: none; }

/* Icons */
@font-face {
  font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}
.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }

/* Spacing */
h3, h4, h5, p, .post-body ul, #post-list li, pre {
margin-bottom: 20px;
}

h2 {
  font: italic 19px/1.3em Georgia,serif;
  color: #bbb;
}

#wrapper {
  max-width: 80vw;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;
}

.home #avatar {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Typography */
/*Accent color*/
a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
  text-decoration: none;
  color: #5badf0;
  color: #5694f1;
}

p a { color: #5694f1; }

/*Transitions*/
a,
#post-nav a,
#post-list a	{
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

ul 	{ margin:0; padding:0; }
li	{ list-style-type:circle; list-style-position:inside; }

/* Line Height */
#post-body, p { line-height:1.7; }

b, strong { font-weight: 500;
  color: #1E2025; }
em, i { font-style: italic; }

#title {
  display: inline-block;
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  margin: 0;
  padding-bottom: 20px;
}

.description {
  float: right;
  font: italic 14px/1.4em Georgia,serif;
  color: #aaa;
}

.home h2 {
  font: italic 19px/1.3em Georgia,serif;
  color: #bbb;
}

#post-list h2 {
  font: normal 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #aaa;
  max-width: 400px;
  margin-top: 2px;
}

h3, h4, h5 { color:#333; }

h3 { font-size:20px; font-weight: 400; }
h4 { font-size:16px; font-weight:bold; }
h5 { font-size:15px; font-weight: bold; }

h6 {
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 6px;
}

p.small {
  color: #bbb;
  font-size: 14px;
  line-height: 1.5;
  display: block;
}

blockquote {
  padding-left: 15px;
  border-left: 3px solid #eee;
}

hr {
  display: block;
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
}

span.code { font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px; }

pre	{
  font-family:Menlo, Monaco, Courier;
  white-space:pre-wrap;
  /*border: 1px solid #ddd;*/
  padding:20px;
  background-color:#fdfdfd;
  /*font-size:14px;*/
  overflow:auto;
  border-radius: 3px;
  background: #272b2d;
    font-family: 'Source Code Pro',Menlo,monospace;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: 500;
  color: #d0d4d7;

}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 1.5em;
}

th,td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr>td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

thead th,th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

/* Made with Cactus Badge */
#badge {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px;
}

#archive-link {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 3px 10px 6px;
  box-shadow: 0 0 0 1px hsla(207,83%,80%,1);
}

#archive-link:hover {
  background: #5694f1;
  color: #fff;
  box-shadow: 0 0 0 1px #5694f1;
}

#archive-link span {
  position: relative;
  top: 0;
  font-size: 17px;
}

/* Post Page */
#header {
  border-bottom: 1px solid #eee;
}

#post-meta {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  border-top: 1px solid #eee;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  color:#444;
  border-bottom: 1px solid #eee;
}

#post-meta div span {
  color: #aaa;
  font-weight: 500;
  display: block;
}

#post-meta div span.dark {
  color: #1E2025;

}

#post-meta div {
  margin: 0 25px 0 0;
  float: left;
}

#sharing {
  float: right;
  margin: -2px;
}

#sharing a {
  font-size: 20px;
  font-size: 23px;
  margin-left: 1px;
  margin-top: 4px;
  color: #d4d4d4;
  display: inline-block;
  vertical-align: middle;
}

#sharing a:hover {
  /*color: #444;*/
  opacity: 0.8;
}

/* Post Navigation */
#post-nav {
  border-top:1px solid #eee;
  text-align:center;
  padding-top:20px;
  font-size:13px;
  font-weight:500;
  margin-top: 40px;
}

#post-nav span {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  position: relative;
}

#post-nav span.prev {
  float: left;
}

#post-nav span.next {
  float: right;
}

#post-nav span .arrow {
  position: relative;
  padding: 1px;
}

#post-nav span.prev:hover .arrow {
  left: -4px;
}

#post-nav span.next:hover .arrow {
  right: -4px;
}

#post-nav span.prev:hover {
  left: -3px;
}

#post-nav span.next:hover {
  right: -3px;
}

/* Archive */
h1.archive {
  margin-bottom: 0px;
}

h2.month {
  width: 100%;
  font: bold 13px/1 "Helvetica Neue",helvetica,Arial,sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#archive-list li:last-child {
  margin-bottom: 0;
}

#archive-list a {
  display: block;
  font: bold 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #333;
}

#archive-list .dates {
  float: right;
  position: relative;
  top: 1px;
  font: 300 17px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #bbb;
}

#archive-list li a:hover,#archive-list li:hover .dates {
  color: #5694f1;
}

#post-meta img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 20px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}

#post-list.archive.readmore h3{

    font: 400 20px "Helvetica Neue", Helvetica,Arial,sans-serif;
    margin-bottom: 30px;
}

#post-list.archive.readmore a{
  font: 400 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
  color: #5694f1;
}

#post-list.archive.readmore a:hover{
  opacity: 0.8;
}

#post-list.archive.readmore .dates{
  font: 300 16px/1.6 "Helvetica Neue",helvetica,Arial,sans-serif;
}
#sharing a.facebook {
  background: #4361b3;
}
#sharing a.twitter {
  background: #4fafed;
}

#sharing a {
  font-size: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 2px;
}

/* Media Queries */
@media screen and (max-width: 540px) {
  #wrapper { padding:20px 20px 20px 20px;}
  #header { margin-bottom: 60px; border-bottom: 1px solid #eee; }
  .post { margin: 40px 0; }
  #footer { margin-top: 60px; }

  #post-list, #archive-list { margin-top: 0; }
  #post-meta { margin-top: 60px; }

  #title { font-size: 17px; }
  #post-list .dates { display: none; }

  #post-list-footer { margin-top: 20px; padding-top: 40px; }

  h1 { font-size: 26px; }
  .post h2.headline { font-size: 13px; }
  .post h1 { font-size:24px; }
  .post h2 { font-size:20px; }
}

/*            *\
|              |
|    colors    |
|              |
\*            */

:root {
  --color-primary:        #5694f1;
  --color-primary-dark:   #1E56B3;
  --color-secondary:      #DB4437;
  --color-tertiary:       #ffb90e;
  --color-quaternary:     #0F9D58;
  --color-white:          white;
  --color-black:          black;
  --color-gray-xl:        #333;
  --color-gray-l:         #484546;
  --color-gray-m:         #666;
  --color-gray-s:         #747071;
  --color-gray-xs:        #aaa;
  --color-gray-2xs:       #bbb;
  --color-gray-3xs:       #f1eeee;
}

/*            *\
|              |
|  text sizes  |
|              |
\*            */

:root {
  --text-size-3ys:   0.3rem;
  --text-size-2ys:   0.5rem;
  --text-size-ys:    0.6rem;
  --text-size-s:     0.8rem;
  --text-size-m:     1rem;
  --text-size-l:     1.2rem;
  --text-size-xl:    1.5rem;
  --text-size-2xl:   2rem;
  --text-size-3xl:   3rem;
  --text-size-root:  16px;
}

/*            *\
|              |
| text weight  |
|              |
\*            */

:root {
  --text-weight-extra-light:  100;
  --text-weight-light:        200;
  --text-weight-normal:       400;
  --text-weight-medium:       500;
  --text-weight-bold:         600;
  --text-weight-extra-bold:   900;
}

/*            *\
|              |
| text colors  |
|              |
\*            */

:root {
  --text-color-primary:       var(--color-primary);
  --text-color-primary-dark:  var(--color-primary-dark);
  --text-color-secondary:     var(--color-secondary);
  --text-color-quaternary:    var(--color-quaternary);
  --text-color-white:         var(--color-white);
  --text-color-black:         var(--color-black);
  --text-color-gray-xl:       var(--color-gray-xl);
  --text-color-gray-l:        var(--color-gray-l);
  --text-color-gray-m:        var(--color-gray-m);
  --text-color-gray-s:        var(--color-gray-s);
  --text-color-gray-xs:       var(--color-gray-xs);
  --text-color-gray-2xs:      var(--color-gray-2xs);
}

/*            *\
|              |
| font family  |
|              |
\*            */

:root {
  --font-family-helvetica:  "Helvetica Neue",helvetica,Arial,sans-serif;
  --font-family-rubik: 'Rubik', sans-serif;
}

/*            *\
|              |
|    base      |
|              |
\*            */

html {
  font-size: var(--text-size-root);
}

html, body { height: 100%; }

body {
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-normal);
  font-size: var(--text-size-root);
  color: var(--text-color-gray-m);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*            *\
|              |
|  font types  |
|              |
\*            */

h1 {
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-3xl);
  color: var(--text-color-primary);
  background-size: cover;
  background-image: linear-gradient(to right, var(--text-color-primary), var(--text-color-primary-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-rubik);
}

/*            *\
|              |
|   wrapper    |
|              |
\*            */

.page-container {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15vh 6vw;
}

.page-container .footer {
  position: absolute;
  left: 40vw;
  bottom: 3%;
}

.app-container {
  width: 100%;
  padding: 0;
}

.hero-container {
  height: 100vh;
}

.wrapper.home {
  padding: 0px 40px 20px 40px;
}

/*            *\
|              |
|    footer    |
|              |
\*            */

.footer {
  padding: 20px 0 0 0;
  margin-top: 20px;
  text-align: center;
}

/*            *\
|              |
|    hero      |
|              |
\*            */

.hero {
  height: 100%;
}

.hero .hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero .hero__logo {
  width: 30vw;
}

/*            *\
|              |
|     post     |
|    meetup    |
|              |
\*            */

.post__header,
.meetup__header,
.member__header {
  margin-bottom: 40px;
}

.post__header h1,
.meetup__header h1,
.member__header h1,
.post__body ol,
.meetup__body ol,
.post__body ul,
.meetup__body ul,
.meetup__body h1,
.post__body h1,
.meetup__body h1,
.post__body h2,
.meetup__body h2,
.post__body h3,
.meetup__body h3,
.member__header h3,
.post__body h4,
.meetup__body h4,
.post__body h5,
.meetup__body h5,
.post__body h6,
.meetup__body h6 {
  margin-bottom: 20px;
}

.post__header h1,
.member__header h1,
.meetup__header h1 {
  line-height: normal;
  margin-bottom: 30px;
}

.post__header h2,
.member__header h2,
.meetup__header h2 {
  margin-bottom: 10px;
}

.post__header h1,
.meetup__header h1,
.post__header h2,
.meetup__header h2 {
  text-align: left;
}

.post__header h2,
.meetup__header h2,
.member__header h2 {
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-2xl);
  color: var(--text-color-gray-s);
  font-style: normal;
}

.post__header h3,
.meetup__header h3,
.member__header h3 {
  font-family: var(--font-family-rubik);
  font-size: var(--text-size-s);
  font-weight: var(--text-weight-bold);
  color: var(--text-color-gray-xs);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.post__body
.meetup__body {
  font-size: var(--text-size-l);
}

.post__body blockquote,
.meetup__body blockquote {
  border-left: none;
  padding-left: 0;
}

.post__body blockquote p,
.meetup__body blockquote p {
  font-weight: var(--text-weight-medium);
  font-size: var(--text-size-l);
  line-height: var(--text-size-2xl);
  color: var(--text-color-gray-s);
  border-top: 4px solid var(--color-tertiary);
  border-bottom: 4px solid var(--color-tertiary);
  padding: 20px 0;
}

.meetup__body ul li,
.post__body ul li {
  list-style-type: disc;
}

.meetup__body ol li,
.meetup__body ul li,
.post__body ol li,
.post__body ul li {
  line-height: var(--text-size-2xl);
}

.post__body ol,
.meetup__body ol,
.post__body ol li,
.meetup__body ol li {
  list-style-type: decimal;
}

.post__body p,
.meetup__body p  {
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-normal);
  font-size: var(--text-size-l);
  color: var(--text-color-gray-m);
}

.post__body a,
.meetup__body a {
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-bold);
  color: var(--text-color-gray-s);
  border-bottom: 4px solid var(--color-secondary);
  transition: all 0.15s ease;
}

.post__body a:hover,
.meetup__body a:hover {
  text-decoration: none;
  background-color: var(--color-secondary);
  border-bottom: 4px solid var(--color-secondary);
  color: var(--text-color-white);
}

.post__body pre,
.meetup__body pre {
  font-size: var(--text-size-m);
}

.post__body h1,
.meetup__body h1,
.post__body h2,
.meetup__body h2,
.post__body h3,
.meetup__body h3,
.post__body h4,
.meetup__body h4,
.post__body h5,
.meetup__body h5,
.post__body h6,
.meetup__body h6 {
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-bold);
  color: var(--text-color-black);
}

.post__body h2,
.meetup__body h2,
.post__body h4,
.meetup__body h4,
.post__body h6,
.meetup__body h6 {
  text-decoration: underline;
}

.post__body h1,
.meetup__body h1 {
  font-size: var(--text-size-2xl);
  font-style: normal;
  background-image: none;
  -webkit-text-fill-color: var(--text-color-black)
}

.post__body h2,
.meetup__body h2 {
  font-size: calc(var(--text-size-2xl) - 0.2rem);
  font-style: normal;
}

.post__body h3,
.meetup__body h3 {
  font-size: calc(var(--text-size-2xl) - 0.3rem);
}

.post__body h4,
.meetup__body h4 {
  font-size: calc(var(--text-size-2xl) - 0.4rem);
}

.post__body h5,
.meetup__body h5 {
  font-size: calc(var(--text-size-2xl) - 0.5rem);
}

.post__body h6,
.meetup__body h6 {
  font-size: calc(var(--text-size-2xl) - 0.6rem);
}

.meetup__images {
  margin-top: 60px;
}

.meetup__images__header {
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-2xl);
  color: var(--text-color-gray-s);
  font-style: normal;
  margin-bottom: 40px;
}

.meetup__images__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.meetup__image {
  list-style: none;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 30vw;
}

.meetup__image:last-child {
  margin-right: 0;
}



.meetup__resources {
  margin-top: 60px;
}

.meetup__resources__header {
  font-family: var(--font-family-helvetica);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-2xl);
  color: var(--text-color-gray-s);
  font-style: normal;
  margin-bottom: 40px;
}

.meetup__resources__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.meetup__resources__list_video_bullet {
  list-style-image: url('/web/assets/images/icons/video.png');
}
.meetup__resources__list_slide_bullet {
  list-style-image:url('/web/assets/images/icons/slide.png');
}
.meetup__resources__list_meetup_bullet {
  list-style-image:url('/web/assets/images/icons/group.png');
}
.meetup__resources__list_code_bullet {
  list-style-image:url('/web/assets/images/icons/code.png');
}

.meetup__resource {
  margin-right: 40px;
  margin-bottom: 40px;
  width: 20vw;
}

/*            *\
|              |
|    meetups   |
|    posts     |
|    members   |
|              |
\*            */

.meetups,
.posts,
.join-us {
  margin-bottom: 10vh;
  margin-top: 15vh;
}

.meetups__header,
.posts__header,
.members__header,
.join-us__header {
  margin-bottom: 4vh;
  font-weight: var(--text-weight-medium);
}

.meetups__list,
.posts__list,
.members__list,
.join-us__list {
  margin-bottom: 40px;
}

.members__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.posts__list .post {
  margin: 0;
}

.meetups__list .meetup
.posts__list .post {
  grid-template-columns: auto;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
    "list-item-speaker";
  margin-bottom: 1vw;
}

.meetups__list .meetup__info,
.posts__list .post__info {
  grid-area: list-item-info;
  display: grid;
  grid-template-columns:30px auto 8fr auto;
  grid-template-areas: "point label empty info";
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.join-us__list .join-us__info {
  display: grid;
  grid-template-columns: 30px auto 10fr;
  grid-template-areas: "point label empty";
  grid-template-rows: 55px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 0.4vw;
}

.meetups__list .meetup__info:before,
.posts__list .post__info:before,
.join-us__list .join-us__info:before {
  content: "■";
  color: var(--color-quaternary);
  padding-right: 10px;
  padding-top: 15px;
  font-size: var(--text-size-xl);
  grid-area: point;
}

.meetups__list .meetup__info:hover:before,
.posts__list .post__info:hover:before,
.join-us__list .join-us__info:hover:before {
  display: none;
}

.meetups__list .meetup__info:hover,
.posts__list .post__info:hover {
  cursor: pointer;
  grid-template-columns: auto 6fr auto;
  grid-template-areas: "label empty info";
}

.join-us__list .join-us__info:hover {
  cursor: pointer;
  grid-template-columns: auto 10fr;
  grid-template-areas: "label empty";
}

.meetups__list .meetup__info:hover .meetup__title,
.meetups__list .meetup__info:hover .meetup__date,
.posts__list .post__info:hover .post__title,
.posts__list .post__info:hover .post__date {
  text-decoration: none;
  color: var(--text-color-gray-l);
  background-color: var(--color-tertiary);
}

.meetups__list .meetup__info:hover .meetup__title,
.posts__list .post__info:hover .post__title,
.join-us__list .join-us__info:hover .join-us__link {
  background-color: var(--color-secondary);
  color: var(--text-color-white);
  padding: 15px;
  font-weight: var(--text-weight-bold);
}

.meetups__list .meetup__info .meetup__date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.meetups__list .meetup__info .meetup__attendees {
  display: none;
  font-size: var(--text-size-l);
  margin-left: 20px;
}

.meetups__list .meetup__info:hover .meetup__attendees {
  display: block;
}

.meetups__list .meetup:not(.meetup__short):hover,
.posts__list .post:not(.post__short):hover {
  margin-top:  20px;
  margin-bottom: 20px;
}

.meetups__list .meetup__head:hover + .meetup__speaker .meetup__speaker-name,
.posts__list .post__head:hover + .post__description .post__link {
  background-color: var(--text-color-quaternary);
  color: var(--text-color-white);
  padding: 15px;
}

.meetups__list .meetup__info .meetup__title,
.posts__list .post__info .post__title,
.join-us__list .join-us__info .join-us__link {
  padding: 15px 15px 0 0;
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-medium);
  font-size: var(--text-size-xl);
  color: var(--text-color-gray-s);
  /*transition: all 0.15s ease;*/
  grid-area: label;
}

.meetups__list .meetup__date,
.posts__list .post__date {
  padding: 15px;
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-xl);
  color: var(--text-color-gray-2xs);
  grid-area: info;
}

.meetups__list .meetup__speaker,
.posts__list .post__description {
  display: flex;
  flex-direction: row;
}

.meetups__list .meetup__speaker-name,
.posts__list .post__description .post__link {
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-m);
  color: var(--text-color-gray-xs);
  background-color: var(--color-white);
  transition: all 0.15s ease;
}

.meetups__footer,
.posts__footer {
  margin-top: 65px;
}

.meetups__footer .meetups__show-more,
.posts__footer .posts__show-more {
  padding: 20px 10px;
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-extra-bold);
  font-size: var(--text-size-m);
  color: var(--text-color-primary);
  border: 4px var(--color-primary) solid;
  background-color: var(--color-white);
  text-transform: uppercase;
}

.meetups__footer .meetups__show-more:hover,
.posts__footer .posts__show-more:hover {
  background-color: var(--text-color-primary);
  color: var(--text-color-white);
  border: 4px var(--color-primary) solid;
}

.members__list .member {
  list-style: none;
  margin-right: 40px;
  margin-bottom: 40px;
}

.members__list .member:last-child {
  margin-right: 0;
}

.members__list .member__image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

/*            *\
|              |
|  paginator   |
|              |
\*            */

.paginator {
  margin-top: 30px;
}

.paginator__list {
    width: fit-content;
    border: 4px solid var(--color-primary);
}

.paginator__page {
  display: inline-block;
  padding: 10px;
  list-style: none;
}

.paginator__page a {
  font-weight: var(--text-weight-bold);
}

.paginator__page.selected {
  background-color: var(--color-primary);
}

.paginator__page.selected a {
  color: var(--text-color-white);
}

/*            *\
|              |
|  navigation  |
|              |
\*            */

.navigation {
  position: fixed;
  width: 100%;
  padding: 20px;
  background: var(--color-white);
  margin: 0 auto;
  border-bottom: 4px solid var(--color-primary);
  text-align: right;
  z-index: 100;
}

.navigation__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  padding: 10px;
  font-family: var(--font-family-rubik);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-m);
  color: var(--text-color-primary);
  text-transform: uppercase;
  transition: all 0.15s ease;
}

.navigation__link__active {
  background: var(--color-primary-dark);
  color: var(--text-color-white);
}

.navigation__link:hover {
  background: var(--color-primary);
  color: var(--text-color-white);
}