---
layout: default
archive: true
---

{% include navigation.html %}

<div class="page-container">

    <article class="meetup">
        <header class="meetup__header">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.description }}</h2>
            <h3>{{ page.date | date:"%B %-d, %Y" }} | {{ page.attendees }} asistentes</h3>
        </header>
        <section class="meetup__body">
            <p>{{ content }}</p>
        </section>
        {% if page.slides or page.coderepos or page.videos %}
            <section class="meetup__resources">
                <h2 class="meetup__resources__header">Recursos usados en el meetup</h2>
                <ul  class="meetup__resources__list">
                    {% if page.slides %}
						{% for slide in page.slides %}
							<li class="meetup__resource meetup__resources__list_slide_bullet">
								<a href="{{ slide.url }}">{{ slide.description }}</a>
							</li>
						{% endfor %}
                    {% endif %}
                    {% if page.coderepos %}
						{% for coderepo in page.coderepos %}
							<li class="meetup__resource meetup__resources__list_code_bullet">
								<a href="{{ coderepo.url }}">{{ coderepo.description }}</a>
							</li>
						{% endfor %}
                    {% endif %}
                    {% if page.videos %}
						{% for video in page.videos %}
							<li class="meetup__resource meetup__resources__list_video_bullet">
								<a href="{{ video.url }}">{{ video.description }}</a>
							</li>
						{% endfor %}
                    {% endif %}
                </ul>
            </section>
        {% endif %}
        {% if page.images %}
            <section class="meetup__images">
                <h2 class="meetup__images__header">Fotos</h2>
                <ul  class="meetup__images__list">
                    {% for image in page.images %}
                        <li class="meetup__image">
                            <img src="{{ image.src }}" alt="{{ image.alt }}">
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </article>

</div>